*{
    margin: o;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
html, body {
    padding: 0;
    margin: 0;
    height: 100%;
}
body{
    position: relative;
    margin: 0;
}

a {

    color: black;
}

.dropdown-item{
    background: none;
}

.top-header-container{
    display: flex;
    align-items: center;

}
.top-header-content{
    display: flex;
    flex-direction: row;
    justify-content: end; 
    align-items: center;
    text-align: center;
    width: 100%;
    height: 30px;
    font-size: 10px;
    font-weight: bolder;
    letter-spacing: 1px;
    padding: auto;
    background-color: rgba(255, 255, 255, 0.568);
    /* border-bottom: 1px solid rgba(0, 0, 0, 0.164); */

}


.location{
    width: 15%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.marquee-w{
    position: absolute;
    display: flex;
    width: 30%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    
}

.marquee{
    position: absolute;
    display: block;
    margin: auto auto;
    white-space: nowrap;
    overflow: hidden;
    min-width: 100%;
    height: 100%;
}

.marquee span{
    display: inline-block;
    padding-left: 100%;
    font-family: sans-serif;
    text-align: center;
    /* -webkit-text-stroke: 1px rgba(0, 0, 0, 0.651); */
    white-space: nowrap;
    min-width: 100%;
    height: 100%;
    line-height: 30px;
    font-size: 13px;
    letter-spacing: 2PX;
    font-weight: bolder;
    animation: marquee 20s linear infinite;
}

@keyframes marquee{
    0%{
        transform: translate(0, 0);
    }
    100% {
        transform: translate(-100%, 0);
    }
}
nav{
    position: -webkit-sticky;
    position: sticky;
    width: 100%;
    height: 70px;
    background-color: #ffffff;

}

#crocsnavbar{
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}

.nav-link:hover{
    margin: 0;
    border-bottom: 2px solid black;
}

ul{
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-decoration: none;
    list-style: none;
}

.logo-name{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 150px;
 }

 .logo{
    width: 150px;
    margin-top: 5px;
    margin-left: 20px;
 }

.mjs-footwear{
    font-size: 10px;
    font-weight: bolder;
    letter-spacing: 2px;
    margin: 0;
    margin-left: 8px;
}

.search{
    background-color: transparent;
}

.search-icons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 400px;
    
}

.btn{
    border: 1px sold black;
}
.input-group{
    font-size: 15px;
    padding-left: 10px;
    border: 1px solid rgba(0, 0, 0, 0.432);
    border-radius: 5px;

}


.carousel-item {
    width: 100%;
}

.main-container{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.sideProduct-container{
    display: flex;
    flex-direction: row;
}

.sort-list{
    width: 300px; 
    display: flex;
    flex-direction: column;
    background-color: blue;

}

.allProducts{
    width: 100%;
}
 .modal-header{
    background-color: aqua;
 }

.image-box img{
    border-bottom: 3px solid rgba(0, 0, 0, 0.288);
}

.card{
    box-shadow: 2px 5px 4px 5px #888888;
}

#shopMore{
    background-color: aqua;
}

.checkoutNow {
    color: rgba(255, 0, 0, 0.897);
}

.accordion{
    width: 100%;
    height: 200px;
}


.side-barContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    height: 600px;
}
.side-bar{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}
.sidebar-filter{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 50px;
    font-size: 10px;
    margin-top: 10px;
    padding: 0px 10px;
    background-color: #88888810;
    border-bottom: 3px solid rgba(0, 0, 0, 0.068);
    
}

.sidebar-style{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 50px;
    margin-top: 10px;
    border-bottom: 3px solid rgba(0, 0, 0, 0.788);
}

.sidebar-colors{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 50px;
    margin-top: 10px;
    border-bottom: 3px solid rgba(0, 0, 0, 0.788);
}

.sidebar-sizes{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 50px;
    margin-top: 10px;
    border-bottom: 3px solid rgba(0, 0, 0, 0.788);
}

.sidebar-womens{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 50px;
    margin-top: 10px;
    border-bottom: 3px solid rgba(0, 0, 0, 0.788);
}

.sidebar-mens{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 50px;
    margin-top: 10px;
    border-bottom: 3px solid rgba(0, 0, 0, 0.788);
}
.sidebar-kids{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 50px;
    margin-top: 10px;
    border-bottom: 3px solid rgba(0, 0, 0, 0.788);
}

.modal-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.modal-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    border: 2px solid black;
    width: 80%;
}

.item-name{
    color: rgba(4, 92, 255, 0.822);
    font-size: small;
}

.addto-basket{
    color: rgba(0, 0, 0, 0.781);
    background-color: rgba(69, 243, 185, 0.267);
}

.whycrocs{
    display: flex;

    height: 580px;
    background-image: url(./img/about-us-banner-cab.jpg);
    background-repeat: no-repeat;
}

.whycrocs-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 500px;
    height: 580px;
    margin-left: 50px;

}

h4{
    font-size: 50px;
    color: rgba(255, 255, 255, 0.877);
}


footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 300px;
    background-color: rgba(0, 0, 0, 0.952);

}

.footer2{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 80%;
    height: 300px;
    color: rgba(255, 255, 255, 0.877);
    font-size: 10px;
    letter-spacing: 1px;
    list-style: none;
}

.ourpromise{
    margin: 10px;
    width: 180px;
    height: 200px;
}

.ourvision{
    width: 180px;
    height: 200px;
}

.ourvalue{
    width: 180px;
    height: 200px;
}

.connecttous{
    width: 180px;
    height: 200px;

}
.connecttous p{
    color: #ffffff;
}

.connecttous p:hover{
    color: aqua;
    transition: 1s;
}




